.image{
    border: 1px solid black;
    height: 600px;
    width: 600px;
    background-image: url('https://images.unsplash.com/photo-1637213686887-eba3cdc1182c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1031&q=80');
    background-position: right;
    transition: all 1.5s;
    background-repeat: no-repeat;
}

.image:hover{
    /* background-position: left; */
    background-size: cover;
}