
.carousel{
    margin: 0 auto;
    width: 1000px;
    overflow:hidden;
    scroll-behavior: smooth;

}

.wrapper{
    display: flex;
    width: 1500px;
}

.wrapper img{
    margin:5px;
}

.leftBtn, .rightBtn{
    margin: 10px;
}

.leftBtn{
    transform: rotate(90deg);
}

.rightBtn{
    transform: rotate(270deg);
}